{% load static %}
<link rel="stylesheet" href="/static/StyleSheet.css">

<nav class="navbar navbar-expand-sm navbar-dark text-light">
        <div class="container">
    
            <a class="navbar-brand text-light" href="/">Cashoo!</a>

            <ul class="navbar-nav text-light ml-auto">
                
                <li class="nav-item">
                    <a class="nav-link text-light" href = "{% url 'learning_home' %}">Learning Modules</a> <!-- add proper link-->
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light">Progress</a> <!-- add proper link-->
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-light">Login</a> <!-- add proper link-->
                </li>
            </ul>
            
            

                
</nav>

