{% extends "theme.html" %}

{% block title %}Customize Learning - Kashoo{% endblock %}

{% block content %}
  <div class="main-content">
    <h2>Get Started</h2>
    <!-- a card that has a button that will take you to learning category -->
     <!-- Placeholder link under each category  -->
    <div class="card">   
      <h3>Investing</h3>
      <p><a href="https://www.cnbc.com" target="_blank" class="button">Go</a></p>
    </div>
    <div class="card">
      <h3>Budgeting</h3>
      <p><a href="https://www.cnbc.com" target="_blank" class="button">Go</a></p>
    </div>
    <div class="card">
      <h3>Balance Sheet</h3>
      <p><a href="https://www.cnbc.com" target="_blank" class="button">Go</a></p>
    </div>
    <div class="card">
      <h3>Savings</h3>
      <p><a href="https://www.cnbc.com" target="_blank" class="button">Go</a></p>
    </div>
    <div class="card">
      <h3>Credit</h3>
      <p><a href="https://www.cnbc.com" target="_blank" class="button">Go</a></p>
    </div>
    <div class="card">
      <h3>Taxes</h3>
      <p><a href="https://www.cnbc.com" target="_blank" class="button">Go</a></p>
    </div>
  </div>
{% endblock %}
