<link rel="stylesheet" href="static/css/StyleSheet.css"> 
<div class="card">

    <div class="card-header content">
      
            <h1>Kashoo!</h1>
            <p>Your Personal Financial Learning Journey Starts Here</p>
    </div>

        <div class="card-body">
            <h3>Stocks</h3>
          </div>

        <div class="card-body">
            <h3>Newfeed</h3>
        </div>

        <div class="card-body">
            <h3>Current Events</h3>
        </div>

        <!-- <script src="https://cdn.jsdelivr.net/npm/yfinance"></script> -->
    

</div>
<!-- Need to add data feeds and format more-->