

  <div class="main-content">
    <h2>Get Started</h2>
    <div class="card">
      <h3>Stocks</h3>
      <p class="stock-price" id="stock-price">Loading...</p>
    </div>
    <div class="card">
      <h3>Crypto</h3>
      <p class="crypto-price" id="crypto-price">Loading...</p>
    </div>
    <div class="card">
      <h3>News</h3>
      <p><a href="https://www.cnbc.com" target="_blank" class="button">Check Latest News</a></p>
    </div>
    
    
  </div>

  
  <div class="footer">
    <p>&copy; 2025 Kashoo. All Rights Reserved.</p>
  </div>

  
  

  </script>
</body>
</html>

