:root{
  --background-color-dark-mode: #1911b5;
  --text-color-dark-mode: #ffffff;
  --secondary-color-dark-mode: #8c2ffd;
  --tertiary-color-dark-mode: #ff8c00;
  --quaternary-color-dark-mode: #ff0000;
}

nav {
  background-color: #1911b5; 
  color: white; 

}
.content {
  color:  #1911b5;
}
